[submodule "libraries/--force"]
	path = libraries/--force
	url = https://github.com/zeux/pugixml.git
[submodule "libraries/pugixml"]
	path = libraries/pugixml
	url = https://github.com/zeux/pugixml.git
